* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 60%;
    margin: auto;
}

.emoji {
    cursor: pointer;
    font-size: 100px;
    color: rgb(59, 42, 42);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(3, 190px);
    gap: 15px;
}

.grid div {
    padding: 10px;
    background-color: rgb(227, 227, 252);
    text-align: center;
}

.uno {
    grid-area: 1/1/2/3;
}

.seis {
    grid-area: 2/3/3/5;
}

.ocho {
    grid-area: 3/2/4/4;
}

.nueve {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 15px;
    text-align: left !important;

    color: rgb(5, 105, 52);
    background-color: rgb(158, 223, 187) !important;
}

.image {
    margin: auto;
    width: 60%;
    height: 60%;
    background-color: #fff !important;

}

button {
    padding: 8px 10px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: rgb(5, 105, 52);
}

button:hover{
    border: 2px solid rgb(23, 116, 66);
    background-color: #fff;
    color: black;
    transition: 300ms;
}